@use "sass:map";

@import 'theme';
@import 'map';
@import 'chart';
@import 'list';



body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

text {
    font-family: Helvetica, sans-serif;
}

p {
    line-height: 1.4em;
}

h2 {
    margin-bottom: 0.4em;
}

.combined {
    .map-wrap {
        position: absolute;
        left: 50%;
        width: 50%;
    }

    .station {
        position: absolute;
        width: 50%;
        max-height: 100vh;
        overflow-y: scroll;
        .station-inner {
            margin: 30px;
        }
    }
}

.indicator-header,
.station-header {
    position: relative;
    h2 {
        padding: 0;
        margin: 0;
        display: inline-block;
    }
    .sub {
        color: #444;
        font-size: 0.8em;
        top: -1px;
        display: block;
        position: relative;
    }
}

.indicator {
    margin-bottom: 25px;
    .indicator-header {
        height: 20px;
        h2 {
            padding: 0 3px;
            font-size: 1.1em;
            font-family: monospace;
            background-color: black;
            color: white;
            display: inline;
        }
        .sub {
            margin-left: 5px;
            display: inline;
        }
    }
}

.station-header {
    height: 70px;
    h2 {
        font-size: 1.3em;
    }
}
