@use "sass:map";

svg {
    g.x-axis {
        font-size: 12px;
        font-weight: bold;
    }

    g.y-axis {
        font-size: 10px;
        text-anchor: middle;

        circle {
            stroke: #000;
            stroke-opacity: 0.2;
            fill: none;
        }

        text {
            stroke: #ffffff88;
            stroke-width: 4;
        }

        text.text {
            stroke: none
        }
    }
}

// $colorYear: map.get($colors, "cr");
$colorYear: #3470d1;
$colorAvg: map.get($colors, "b4");

.line-year-chart {
    path.line {
        fill: none;
        stroke-width: 2;
        stroke: black;
    }
    .domain {
        visibility: hidden;
    }

    .tick line {
        opacity: 0.15;
        stroke-width: 1;
    }

    .hover, .selected {
        text {
            font-size: 12px;
            text-anchor: middle;
        }
        line {
            stroke: $colorYear;
            stroke-width: 2px;
        }
    }

    .hover {
        line {
            opacity: 0.6;
        }
        text {

        }
    }

    .selected {
        line {
            stroke: $colorYear;
            opacity: 1;
        }
        text {
            font-size: 12px;
        }
    }
}

.polar-chart-container {
    svg {
        margin-top: 10px;

        path {
            fill: none;
            stroke-width: 1;
        }

        g.hover {
            line.diff {
                stroke: red;
            }
            text {
                font-size: 12px;
                &.date {
                    font-weight: bold;
                }
                &.diff {
                    font-weight: bold;
                    &.pos {
                        fill: red;
                    }
                    &.neg {
                        fill: blue;
                    }
                }
            }
        }

        g.path-years path {
            stroke:  map.get($colors, "b8");
            opacity: 0.1;
            &.selected {
                stroke: $colorYear;
                stroke-width: 2.5;
                opacity: 1;
            }
            &.hover {
                stroke: $colorYear;
                stroke-width: 2;
                opacity: 0.6;
            }
        }

        circle.year {
            fill: $colorYear;
            opacity: 0.7;
        }

        circle.avg {
            fill: $colorAvg;
            opacity: 0.7;
        }

        g.path-avg path {
            stroke: $colorAvg;
            stroke-width: 2;
            opacity: 0.8;
        }
    }
    .slider {
        margin-top: 8px;
        position: relative;
        input {
            width: calc(100% - 160px);
            left: 80px;
            position: relative;
        }
        span {
            position: absolute;
            right: 0;
            top: 2px;
            width: 80px;
            text-align: center;
            font-weight: bold;
            font-size: 0.8em;
        }
        select {
            position: absolute;
            width: 70px;
        }
    }
}
