@use "sass:map";

$colorYear: map.get($colors, "base");
$colorAvg: map.get($colors, "avg");

$colorPos: map.get($colors, "pos");
$colorNeg: map.get($colors, "neg");

svg {
    user-select: none;
    g.x-axis {
        font-size: 12px;
        font-weight: bold;
    }

    g.y-axis {
        font-size: 10px;
        text-anchor: middle;

        circle {
            stroke: #000;
            stroke-opacity: 0.2;
            fill: none;
        }

        text {
            stroke: #ffffff88;
            stroke-width: 4;
        }

        text.text {
            stroke: none
        }
    }
}



svg.line-year-chart {
    path.line {
        fill: none;
        stroke-width: 1.5;
        stroke: $colorYear;
        opacity: 1;
    }

    g.points circle {
        opacity: 0.8;
    }

    rect.avg {
        opacity: 0.1;
        fill: none;
        &.avgP1 {
            fill: $colorNeg;
        }
        &.avgP2 {
            fill: $colorPos;
        }
    }

    line.avg {
        stroke: $colorAvg;
        stroke-width: 1.5;
        opacity: 0.5;
        &.avgP1 {
            stroke: $colorNeg;
            opacity: 0.7;
        }
        &.avgP2 {
            stroke: $colorPos;
            opacity: 0.7;
        }
    }

    text.avg {
        stroke: $colorAvg;
        font-size: 12px;
        dominant-baseline: middle;
        font-weight: normal;
        stroke-width: 0px;
        &.avgP1 {
            fill: darken($colorNeg, 30%);
            text-anchor: start;
        }
        &.avgP2 {
            fill: darken($colorPos, 30%);
            text-anchor: end;
        }
        &.avgBack {
            stroke: white;
            stroke-width: 4px;
            opacity: 0.8;
        }
    }

    .domain {
        visibility: hidden;
    }

    .tick line {
        opacity: 0.15;
        stroke-width: 1;
    }

    .hover, .selected {
        text {
            font-size: 13px;
            text-anchor: middle;
        }
        line {
            stroke: $colorYear;
            stroke-width: 1px;
        }
    }

    .hover {
        line {
            opacity: 0.6;
        }
        text.back {
            stroke-width: 3px;
            stroke: white;
        }
    }

    .selected {
        line {
            opacity: 1;
            stroke-width: 2px;
        }
        text {
            font-weight: bold;
        }
    }

    rect.cap {
        cursor: col-resize;
    }
}

.polar-chart-container {
    svg {
        margin-top: 10px;

        path {
            fill: none;
            stroke-width: 1;
            &.area {
                opacity: 0.2;
                &.above { fill: $colorPos;  }
                &.below { fill: $colorNeg; }
            }
        }

        g.hover {
            line.diff {
                &.pos { stroke: $colorPos; }
                &.neg { stroke: $colorNeg; }
            }
            text {
                .weekday, .dayMonth {
                    font-size: 12px;
                }
                .dayMonth {
                    font-weight: bold;
                    font-size: 14px;
                }
                .header {
                    font-size: 12px;
                    letter-spacing: 1px;
                    font-weight: bold;
                    fill: #666;
                    
                    &.year { fill: $colorYear; }
                    &.avg  { fill: $colorAvg; }

                    &.pos { fill: $colorPos; }
                    &.neg { fill: $colorNeg; }
                }
                .value {
                    text-decoration-line: overline;
                    font-size: 12px;
                }

            }
        }

        g.path-years path {
            stroke:  #999;
            opacity: 0.1;
            &.selected {
                stroke: $colorYear;
                stroke-width: 1.5;
                opacity: 1;
            }
            &.hover {
                stroke: $colorYear;
                stroke-width: 1.5;
                opacity: 0.6;
            }
        }

        circle.year {
            fill: $colorYear;
            opacity: 0.7;
        }

        circle.avg {
            fill: $colorAvg;
            opacity: 0.7;
        }

        g.path-avg path {
            stroke: $colorAvg;
            stroke-width: 2;
            opacity: 0.8;
        }
    }
}
