

#stationList ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    li {
        display: block;
        padding: 8px 0;
        border-bottom: 1px #CCC solid;
        cursor: pointer;
        .country {
            font-weight: bold;
            text-align: center;
            display: inline-block;
            width: 50px;
            text-align: center;
        }

        .name {
            white-space: nowrap;
            display: inline-block;
            width: 250px;
        }
        .year_min {
            width: 80px;
            display: inline-block;
            text-align: center;
        }
        .mean_1940_1960, .mean_2010_td, .diff {
            display: inline-block;
            width: 80px;
            text-align: right;
        }
        &:hover {
            background-color: #EEE;
        }
        &.header {
            font-weight: bold;
            .mean_1940_1960, .mean_2010_td, .diff {
                text-align: right;
            }
            &:hover {
                background-color: #FFF;
            }
            padding-bottom: 2px;
            border-bottom: 1px #888 solid;
        }
    }
}
