@import '~maplibre-gl/dist/maplibre-gl.css';

.map-wrap {
    position: relative;
    // left: 100%;
    width: 100%;
    height: calc(100vh - 0px); /* calculate height of the screen minus the heading */
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;

    // .mapboxgl-marker {
    //     cursor: pointer;
    //
    //     svg g {
    //         fill: steelblue;
    //         opacity: 0.8;
    //     }
    //
    //     &.active {
    //         svg g {
    //             fill: black;
    //         }
    //     }
    // }
    //
    // .maplibregl-popup-tip {
    //     visibility: hidden;
    // }
    // .maplibregl-popup-content {
    //     background-color: #FFFFFFBB;
    //     margin: 0px;
    //     padding: 0px 5px;
    // }

}

$marker-size: 31px;
$marker-border: 0px;
.marker {
    opacity: 1;
    font-size: 10px;
    // font-weight: bold;
    line-height: 11px;
    text-align: center;
    &.selected {
        width: $marker-size;
        height: $marker-size;
        border-radius: $marker-size;
        border: $marker-border solid black;
    }
    &.hover {
        width: $marker-size;
        height: $marker-size;
        border-radius: $marker-size;
        border: $marker-border solid #777;
        cursor: pointer;
    }
    span {
        display: inline-block;
        padding-top: 4px;
    }
}

// .watermark {
//     position: absolute;
//     left: 10px;
//     bottom: 10px;
//     z-index: 999;
// }


#legend-overlay {
    position: absolute;
    right: 20px;
    bottom: 20px;
    .text {
        font-size: 11px;
        text-align: right;
        line-height: 1.1em;
        font-weight: 500;
        position: absolute;
        width: 200px;
        bottom: 120px;
        right: 0;
    }
}

// #legend-overlay text {
//     // font-weight: bold;
// }
