/* SCSS HEX */
$duke-blue: #390099ff;
$jazzberry-jam: #9e0059ff;
$radical-red: #ff0054ff;
$orange-pantone: #ff5400ff;
$amber: #ffbd00ff;


$colors: (
    "b0": #000000,
    "b4": #444444,
    "b8": #888888,

    "cb": #390099ff,
    "cl": #9e0059ff,
    "cr": #ff0054ff,
    "co": #ff5400ff,
    "cy": #ffbd00ff,
);
